html {
  font-size: 16px;
}

div {
  display: block;
}

.googleimage {
  margin: auto;
  padding-top: 20%;
  padding-bottom: 10px;
}

.search {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.searchbar {
  width: 44%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #dfe1e5;
}

.button {
  margin-top: 15px;
  margin-left: 5px;
  position: relative;
  border: 2px solid #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.topnav {
  width: auto;
  border: none;
  display: block;
  outline: 0;
  padding-right: 10px;
  padding-top: 5px;
}

.topnav a {
  text-decoration: none;
  color: black;
}

.right {
  float: right;
  padding-right: 10px;
}

.botnav {
  bottom: 0;
  position: fixed;
  width: 100%;
  display: block;
}

.botnav a {
  text-decoration: none;
  color: black;
}

.bottomleft {
  float: left;
  padding-left: 15px;
}

.bottomright {
  float: right;
  padding-right: 15px;
  margin: 0;
}

a:hover,
a:active {
  text-decoration: underline;
}
